# App
APP_NAME=Login Service
ENV=development

# JWT
JWT_SECRET_KEY=change-this-to-a-long-random-secret-in-production
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Dummy user (replace with real DB lookup later)
DUMMY_USERNAME=AniketDev
DUMMY_PASSWORD=Dev@123
